.Dashboard{
    display: grid;
    grid-template-columns: 1.5fr 4fr ;
    .container1{
        overflow-y: scroll;
        color  : white;
        font-weight: 800; 
        background:linear-gradient(-45deg,#00b09b,#96c93d);
        height: calc(100vh - 5rem);
        padding: 5rem;
        display:grid;
        grid-auto-flow: row;
        //justify-content: center;
        .googleSignin{
           svg{
               width: 5rem;
           }
        }

    }
    
    @media screen and ( max-width: 750px ){
        grid-template-columns: 1fr;
    }
    .container2{
        display: grid;
    grid-auto-flow: row;
    min-height: 600px;
   // background-image: url(https://www.gstatic.com/meet/user_edu_get_a_link_light_90698cd7b4ca04d3005c962a3756c42d.svg);
    //background-repeat: no-repeat;
    padding:5rem;
    background-position: 50% 50%;
    }

} 