@font-face {
  font-family: Sofia;
  src: url("../fonts/Sofia Pro Regular Az.otf");
}

@font-face {
  font-family: SofiaLight;
  src: url("../fonts/Sofia Pro Light Az.otf");
}

@font-face {
  font-family: SofiaBold;
  src: url("../fonts/Sofia Pro Bold Az.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sofia;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
