.nav {
  z-index: 99;
  top:  0px;
  background-color: #333;
  position: fixed;
  width: 100vw;
  height: 5rem;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4rem;
  justify-content: center;
  align-content: center;
  color: white;
}
